.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.card-registration .select-input.form-control[readonly]:not([disabled]) {
  font-size: 1rem;
  line-height: 2.15;
  padding-left: .75em;
  padding-right: .75em;
  }
  .card-registration .select-arrow {
  top: 13px;
  }
  @media (min-width: 1025px) {
    .h-custom {
    height: 100vh !important;
    }
    }
    .card-registration .select-input.form-control[readonly]:not([disabled]) {
    font-size: 1rem;
    line-height: 2.15;
    padding-left: .75em;
    padding-right: .75em;
    }
    .card-registration .select-arrow {
    top: 13px;
    }
    
    .gradient-custom-2 {
    /* fallback for old browsers */
    background: #a1c4fd;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(161, 196, 253, 1), rgba(194, 233, 251, 1));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(161, 196, 253, 1), rgba(194, 233, 251, 1))
    }
    
    .bg-indigo {
    background-color: #4835d4;
    }
    @media (min-width: 992px) {
    .card-registration-2 .bg-indigo {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    }
    }
    @media (max-width: 991px) {
    .card-registration-2 .bg-indigo {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    }
    }
    /* .vh-100{
      background-color: lightgray;
      height: 1000px;
    } */
    .SL{
      height: 850px;
      width: 100%;
      border-radius: 10px;
      border: darkgray solid 2px;
      background-color: lightgray;
    }
    .footer{
      padding: 25px;
      height: 450px;
      width: 100%;
      border-radius: 10px;
      background-color: darkgray;
      border: lightgray solid 2px;
    }
    .head{
      height: 100px;
      width: 100%;
      /* border-radius: 10px; */
      /* border: black solid 2px; */
      display: flex;
      border-bottom: darkgray solid 2px;
      justify-content: space-between;
      /* flex-direction: column; */

    }
    .middle{
      height: 250px;
      width: 100%;
      /* border-radius: 10px; */
      border-bottom: darkgray solid 2px;
      /* border: black solid 2px; */
      display: flex;
      justify-content: space-around;
    }
    .bottom{
      height: 50px;
      width: 100%;
      /* border-radius: 10px; */
      border-bottom: darkgray solid 2px;
      /* border: black solid 2px; */
      display: flex;
      justify-content: center;
    }
    .head-item{
      height: 100px;
      width: 400px;
      /* border: green solid 1px; */
      /* border-radius: 10px; */
      /* border: black solid 2px; */
      display: flex;
      flex-direction: row;
    }
    .middle-item{
      height: 250px;
      width: 300px;
      border-radius: 10px;
      /* border: black solid 2px; */
      display: flex;
      flex-direction: column;
      /* flex-direction: row; */
    }
    .bottom-item{
      height: 50px;
      width: 600px;
      /* border: #4835d4 solid 2px; */

    }
    .head-item-link{
      height: 90px;
      width: 90px;
      /* border: #4835d4 solid 2px; */
    }
    .padding{
      background-color: lightgray;
      border-radius: 10px;
    }
    .h-101{
       border: darkgray solid 2px;
       border-radius: 10px;
    }
.home-body{
  width: 100%;
  height: 850px;
  border: gray solid 4px;
}
.teacher-login-body{
  width: 100%;
  height: 850px;
  background-color: lightgray;
  border-radius: 10px;
  border: darkgray solid 2px;
}
.teacher-signup-body{
  width: 100%;
  height: 1100px;
  border: darkgray solid 2px;
  background-color: lightgray;
  border-radius: 10px;
}